.Logo {
  position: relative;
  display: inline-block;
  width: var(--sizing-x12);
  height: var(--sizing-x12);
  margin-right: var(--sizing-x4);

  svg {
  }
}

body.dark {
  .Logo {
    svg {
    }
  }
}
