.Content__Photos {
  .Hero {
    padding: var(--sizing-x10) 0;
    text-align: center;

    p {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .Content__Photos__Form {
    padding: var(--sizing-x20) var(--sizing-x10) var(--sizing-x10);
    border-radius: var(--sizing-x5);
    background-color: var(--color-shades-0);
    border: 1px solid var(--color-shades-300);
    position: relative;
    .Form__Submit {
      position: absolute;
      top: calc(0px - var(--sizing-x2));
      right: var(--sizing-x2);
    }
  }
  .Content__Photos__Form + .Content__Photos__Form {
    margin-top: var(--sizing-x5);
  }
}

body.dark {
  .Content__Photos {
    .Content__Photos__Form {
      background-color: var(--color-shades-900);
      border: 1px solid var(--color-shades-700);
    }
  }
}

/* MOBILE */
@media (max-width: 900px) {
  .Content__Photos {
    .Hero {
      padding: var(--sizing-x5) 0;
    }
    .Content__Photos__Form {
      padding: var(--sizing-x20) var(--sizing-x3) 0;
      margin: 0 calc(0px - var(--sizing-x3)) var(--sizing-x10);
    }
  }
}
