.Balance {
  background-color: var(--color-shades-900);
  width: 100%;
  height: 100%;
  .Picker-Container {
    display: flex;
    height: 100%;
    .Balance-Item {
      height: 100%;

      font-size: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      cursor: pointer;
    }
  }
}

body.dark {
}
